.graph-tooltip {
  position: absolute;
  text-align: center;
  padding: 3px 5px 3px 5px;
  font: 12px sans-serif;
  background: white;
  border: 1px solid gray;
  border-radius: 4px;
  pointer-events: none;
}

.graph-tooltip-first {
  font-weight: bold;
  text-align: left;
  padding-right: 5px;
}

.graph-grid .item {
	padding: 5px;
	margin: 5px;
	float: left;
	cursor: pointer;
	border-radius:5px
}

.graph-grid .current {
	border-color:#66afe9;
	background-color:#EEEEFF;
	outline:0;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
	box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.graph-grid .image {
	padding: 10px;
	width: 100px;
	height: 86px;
}

.graph-grid .title {
	text-align: center;
	font-size: 0.9em;
	word-wrap: break-work;
	font-weight: bold;
	width: 100px;
}

.graph-grid .header {
	font-size: 0.9em;
	font-weight: bold;
	padding-bottom: 10px;
}

.graph-viewport {
    height: inherit;
    min-height: 50px;
}

.graph-viewport .info {
	position: absolute;
	margin: 10px 20px 50px 10px;
}

.graph-viewport .text {
	position: relative;
	margin-left: 5px;
	top: -1px;
	font-size: 1.0em;
	display: inline;
}

.graph-viewport .icon {
	font-size: 1.2em;
	display: inline-block;
}

.graph-viewport .graph-viewport-container {
	float: left;
	display: block;
	height: 100%;
}

.graph-viewport .graph-viewport-canvas {
	display: block;
	width:100%;
	min-height: 100px;
	height: inherit;
}
